<div class="container-fluid footer"> <!--- container-fluid lo que hace es dar una margen izquierda en el contenido dentro del div para no estar pegado en algunos casos centraliza si el div no ocupa 100% del la pantalla centraliza--->
   <!-- nombre -->
    <div class="row">
        <div class="col-lg-6" >
               <h1>Mi Portafolio</h1> 
               <p>BIENVENIDO A MI PORTAL, DISFRUTALO</p>
        </div>
     <!-- nav -->
        <div class="col-lg-4">
            <a routerLink="">Inicio</a>
            <a routerLink="about">Acerca</a>
            <a routerLink="especialidad">Especialidad</a>
            <a routerLink="contact">Contacto</a>
        </div>

         <!-- Redes Sociales -->
        <div class="col-lg-2">
            <a href="https://www.facebook.com/gomesantonio.gomes" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="https://www.linkedin.com/in/manzambi-antonio-k-doge-284b44211/" target="_blank"><i class="bi bi-linkedin"></i></a>
            <a href="https://www.instagram.com/nicksbigzzaggomez/" target="_blank"> <i class="bi bi-instagram"></i></a>
            <a href="https://github.com/Manzambi" target="_blank"><i class="bi bi-github"></i></a>
            <br>
            <br>
            <p class="parrafo">manzambigomez@correo.ugr.es</p>
        </div>
    </div>
</div>
