

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h3>Contactame por Seguiente email:</h3>
             <h6>manzambigomez@correo.ugr.es</h6>
    <!--
            <div>   Este div era un form solo le cambie para que ngModel funciona 

                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" placeholder="Ingrese su nombre" [(ngModel)]="nombre">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Ingrese su email" [(ngModel)]="email">
                </div>
                <div class="form-group">
                    <label for="mensaje">Mensaje</label>
                    <textarea class="form-control" id="mensaje" rows="4" placeholder="Escriba su mensaje" [(ngModel)]="mesaje"></textarea>
                </div>
                <button type="submit" class="btn btn-primary" (click)="salvar()">Enviar</button>
            </div>

        </div>
    </div>



<form [formGroup]="datos" data-toggle="modal" data-target="#modalExito">   
    <div class="form-group">
      <label for="nombre">Email</label>
      <input type="email" class="form-control" placeholder="Ingrese su Email" formControlName="email">
    </div>
    <div class="form-group">
      <label for="asunto">Asunto</label>
      <input type="text" class="form-control"  placeholder="Asunto" formControlName="asunto">
    </div>
    <div class="form-group">
      <label for="mensaje">Mensaje</label>
      <textarea class="form-control"  rows="4" placeholder="Escriba su mensaje" formControlName="mesaje"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Enviar</button>
  </form>
  
-->
  
    
 <!-- Redes Sociales -->
 <div class="redes col-lg-6">
    <h5>Mis Redes Sociales</h5>
    <a href="https://www.facebook.com/gomesantonio.gomes" target="_blank"><i class="bi bi-facebook"></i></a>
    <a href="https://www.linkedin.com/in/manzambi-antonio-k-doge-284b44211/" target="_blank"><i class="bi bi-linkedin"></i></a>
    <a href="https://www.instagram.com/nicksbigzzaggomez/" target="_blank"> <i class="bi bi-instagram"></i></a>
    <a href="https://github.com/Manzambi" target="_blank"><i class="bi bi-github"></i></a>
    <br>
    <br>
    
</div>
    
</div>


  

