button{
    margin-top: 10px;
}

h5{

}

.redes{
    padding-top: 20px;
    margin: auto;
}

I{
    padding: 10px;
    font-size: 30px;
    
}

.bi-instagram{
    color: orangered;
}

.bi-github{
    color: black;
}

h6{
   margin-left: 20%;
}