<div class="body">
     

     <div class="linea1 container row">
        <div class="col0 col-lg-2">
            <h1>Documentos</h1>
        </div>
    </div>

    <a class="a" href="assets/documentos/ManzambiAntonio_CV_2023.pdf" download="ManzambiAntonio_CV_2023.pdf">
        <div class="linea1 container row">
            <div class="col1 col-lg-2">
                  <h2>Curriculo</h2>
            </div>
        </div>
    </a>
    
    <a href="assets/documentos/CartadeApresentacion.docx.pdf" download="CartadeApresentacion.docx.pdf">
        <div class="linea2 container row">
            <div class="col2 col-lg-2">     
                    <h3>Carta de Apresentacion</h3>           
            </div>
        </div>
    </a>

    
    
</div>
