<div style="color: white;" class="container row ">
    <div id="titulo"  class="col-md-7 bg-dark">
        <h1>
            Mis Especialidades
        </h1>
    
        <h2>
            Tecnologias y Herramientas
        </h2>
        <br>
        <br>
        <h5>Desarrollador de Aplicaciones web con Angular y Boostrap</h5>
        <h5>Trabajo con los linguajes de Programacion C#, Python, Javascript y Typescript</h5>
        <h5>Tengo Tambien habilidades trabajando con apliciones de Ediciones de Videos como Vegas y imove</h5>
    </div>

 </div>