<div class="padre">  
    <div class="div2">
      <h2>
          Proyectos
      </h2>
      <br>
      <h5>He Trabajado en Ciertos Proyectos de Universidad con Tecnologias Cloud</h5>
      <h5>Mis Proyectos estan puestos y documentados en mi reposito de Github con DOCKER</h5>
      <br>
       <ul style="margin: auto; width: 50%;">
          <li><a href="https://github.com/Manzambi/practica1__cc" target="_blank">Owncloud con Mariadb Openldap Redis</a></li>
          <li><a href="https://github.com/Manzambi/Practica2_CC2" target="_blank">OpenFaas con Kuberts postman</a></li>
          <li style="margin: auto; width: 50%;"><a href="https://github.com/Manzambi" target="_blank">Github</a></li>
       </ul>
       <br>
    </div>
  </div>